.recipe{
    border-radius: 10px;
    box-shadow: 0px 5 px 20 px rgb(150, 144, 144);
    margin: 20px;
    margin-right: 80px;
    margin-left:80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: left;
    /* min-width: 80%;

    max-width: 90%; */
    width: 100%;
    padding: 10px;
    text-indent: 30px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
}

.image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.createdAt{
    font-style: italic;
    color: grey;
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
}